.table>thead>tr>th {
    text-align: center;
}

.table>tbody>tr>td {
    font-size: 10px;
    font-weight: 600;
}

.mr-5 {
    margin-right: 5px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-25 {
    margin-left: 25px;
}