<div class="page-container page-navigation-top-fixed">

    <app-side-nav></app-side-nav>

    <div class="page-content">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <app-header></app-header>

        <router-outlet></router-outlet>
        <div class="clearfix"></div>
        <br/>
        <br/>
        <div class="footer">
            <div class="col-md-6 ftr-left">All Rights Reserved by CESC Ltd.</div>
            <div class="col-md-6 ftr-right">Designed & Developed by <a href="http://www.viavitae.co.in/" target="_blank">Via Vitae Solutions</a></div>
        </div>
    </div>
</div>