<div class="login-container">

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <h2 class="projectname">Online Survey Portal</h2>
        <div class="login-body">
            <div>
                <mat-spinner *ngIf="loader"></mat-spinner>
            </div>
            <div class="login-title">Reset <strong>Password</strong></div>
            <form [formGroup]="forpass" class="form-horizontal" method="post" (ngSubmit)="appForPass()">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="email" class="form-control" placeholder="Email" autocomplete="email" formControlName="username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a routerLink="/user/login" class="btn btn-link btn-block">Already have account?</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block" [disabled]="forpass.invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="login-footer">
            <div class="pull-left">
                &copy; 2017 AppName
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div> -->
    </div>
    <div class="clearfix"></div>
    <br/><br/>
    <div class="footer">
        <div class="col-md-6 ftr-left">All Rights Reserved by Bureau Veritas India</div>
        <div class="col-md-6 ftr-right">Design & Developed by <a href="http://www.viavitae.co.in/" target="_blank">Via Vitae Solutions</a></div>
    </div>

</div>