.x-admin-text {
    padding: 15px 10px;
    background: #ebbd7d;
    color: #000;
    font-weight: bold;
    line-height: 20px;
}

.b-l {
    border-left: 1px solid #999;
}

.b-r {
    border-right: 1px solid #999;
}