<div class="page-content-wrap">


    <!-- START RESPONSIVE TABLES -->
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="panel panel-default">

                <!-- <div class="panel-heading bg-bv1">
                    <h3 class="panel-title">Change Password</h3>
                </div> -->

                <div class="col-md-6 col-md-offset-3">
                    <form [formGroup]="changepass" class="form-horizontal" method="post" (ngSubmit)="changePass()">
                        <div class="form-horizontal form-group-separated">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Old Password</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" placeholder="Current Password" formControlName="oldpassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">New Password</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" placeholder="New Password" formControlName="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Repeat New Password</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="repassword">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="text-center">
                            <button type="button" type="submit" class="btn btn-primary" data-dismiss="modal" [disabled]="changepass.invalid">Proccess</button>
                            <button type="button" type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>